.get-ruleinstances {
  position: absolute;
  width: 1030px;
  height: 585px;
  z-index: 15;
  top: 13%;
  left: 30%;
  margin: -70px 0 0 -150px;
  background: #DCDCDC;
}

.get-rulecosts{
  position: absolute;
  width: 500px;
  height: 585px;
  z-index: 15;
  top: 13%;
  left: 59%;
  margin: -70px 0 0 -20px;
  background: #FFFFE0;
}

table {
  width: 80%;
}


.mat-column-transporteinstance{
    flex: 0 0 25%;
}

.mat-column-distance {
    flex: 0 0 10%;
    text-align: center;
    justify-content:center;
}
.mat-column-distanceD {
    flex: 0 0  4%;
    text-align: center;
    justify-content:center;
}

.mat-column-weight {
    flex: 0 0 10%;
    text-align: center;
    justify-content:center;
}
.mat-column-medidaW {
    flex: 0 0 4%;
    text-align: center;
    justify-content:center;
}


.mat-column-actionInstance {
    flex: 0 0 10%;
    text-align: center;
    justify-content:center;
}
.mat-header-row, .mat-row {
  min-height: 10px;
}


.mat-column-transportecosts{
    flex: 0 0 18%;
}
.mat-column-weightcosts {
    flex: 0 0 12%;
    text-align: center;
    justify-content:center;
}
.mat-column-distancecosts {
    flex: 0 0 12%;
    text-align: center;
    justify-content:center;
}
.mat-column-workTime {
    flex: 0 0 10%;
    text-align: center;
    justify-content:center;
}
.mat-column-averageConsumption {
    flex: 0 0 15%;
    text-align: center;
    justify-content:center;

}
.mat-column-averageTolls {
    flex: 0 0 10%;
    text-align: center;
    justify-content:center;
}
.mat-column-rateExchange {
    flex: 0 0 15%;
    text-align: center;
    justify-content:center;
}
.mat-column-actionCosts {
    flex: 0 0 10%;
    text-align: center;
    justify-content:center;
}

.mat-header-row, .mat-row {
  min-height: 30px;
}



mat-header-cell {
    color: black;
    font-size: small;
    font-weight: bold;
    word-wrap: break-word;
    word-break:break-all;
  }  
 

