<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">PACKSEND-ME <sup>Simulacao Delivery</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard 
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Simulacao</span></a>
      </li>
-->
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Transporte
      </div>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Terreste</span>
        </a>
        <div id="collapseTwo" class="collapse" [ngbCollapse]="isCollapsed">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Regiao Simulacao:</h6>
            <a class="collapse-item" (click)="goSimulationRoadway()">America do Sul</a>
            <a class="collapse-item" href="cards.html">Europa</a>
            <a class="collapse-item" href="cards.html">America Central</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Aereo</span>
        </a>
        <div id="collapseUtilities" class="collapse" [ngbCollapse]="isCollapsed">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Regiao Simulacao:</h6>
            <a class="collapse-item" href="buttons.html">America do Sul</a>
            <a class="collapse-item" href="cards.html">Europa</a>
            <a class="collapse-item" href="cards.html">America Central</a>
          </div>
        </div>
      </li>

      
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Maritimo</span>
        </a>
        <div id="collapseUtilities" class="collapse" [ngbCollapse]="isCollapsed">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Regiao Simulacao:</h6>
            <a class="collapse-item" href="buttons.html">America do Sul</a>
            <a class="collapse-item" href="cards.html">Europa</a>
            <a class="collapse-item" href="cards.html">America Central</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>


     <!-- End of Sidebar -->

    </div>